

.bakgrund {
    min-height: 100vh;
    background-color: #370617;
    display: flex;
    align-items: center;
    justify-content: center;
}

.struktur {
    display: flex;
    gap: 20px;
}

.kolumn-vanster {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.kolumn-hoger {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ruta-1 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    border-radius: 8px;
}

.ruta-2 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    border-radius: 8px;
}

.ruta-3 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    border-radius: 8px;
}

.ruta-4 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    border-radius: 8px;
}

.ruta-5 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    border-radius: 8px;
}

.ruta-6 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    border-radius: 8px;
}